@using TeamDataForum.Web.Models.ViewModels.Posts
@model PostFullViewModel

@{ 
    var changeDate = Model.ChangeDate != null ? ((DateTime)Model.ChangeDate).ToString("dd.MM.yyyy HH:mm") : string.Empty;
}

<div id="post_@Model.Id" class="post">
    <div class="post_number">@Html.Raw("#")@Model.Number</div>
    <div class="post_item post_user_data">
        <div>@Html.DisplayFor(m => m.Author, "Users/PostUserViewModel")</div>
        <div>@Model.Date.ToString("dd.MM.yyyy HH:mm")</div>
    </div>
    <div class="post_item post_user_post">
        <div>@Model.Text</div>
        <div>@changeDate</div>
        <div>@Model.Changer</div>
    </div>
</div>