@using TeamDataForum.Web.Models.ViewModels.Posts
@model PostFullViewModel

<div id="post_@Model.Id">
    <div>@Model.Number</div>
    <div>@Html.DisplayFor(m => m.Author, "Users/PostUserViewModel")</div>
    <div>@Model.Date</div>
    <div>@Model.Text</div>
    <div>@Model.ChangeDate</div>
    <div>@Model.Changer</div>
</div>