@using TeamDataForum.Web.Models.BindingModels.Users
@using TeamDataForum.Web.Models.ViewModels.Users
@model UserFullViewModel

@{
    ViewBag.Title = "User Status";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>User Status</h2>

@Html.DisplayForModel("Users/UserFullViewModel")

<div id="task-progress"></div>

<button id="changePassword">Change password</button>
<button id="changeUserInformation">Change user information</button>
<button id="changeUserTown">Change town</button>

@Html.Partial("~/Views/Shared/UserPartials/UserPasswordPartial.cshtml", new PasswordBindingModel())

@Html.Partial("~/Views/Shared/UserPartials/UserNamesPartial.cshtml", new UserNamesBindingModel())

@Html.Partial("~/Views/Shared/UserPartials/UserTownPartial.cshtml", new TownUserBindingModel())

@Html.Partial("~/Views/Shared/UserPartials/UserImagePartial.cshtml", new ImageUserBindingView())

<script>
    var passDialog = $('#password-form').dialog({
        autoOpen: false,
        height: 350,
        width: 350,
        modal: true,
        buttons: {
            Cancel: function () {
                passDialog.dialog("close");
            }
        },
        Close: function () {
            passDialog.dialog("close");
        }
    });

    var userDialog = $('#user-data').dialog({
        autoOpen: false,
        height: 500,
        width: 350,
        modal: true,
        buttons: {
            Cancel: function () {
                userDialog.dialog("close");
            }
        },
        Close: function () {
            userDialog.dialog("close");
        }
    });

    var townDialog = $('#user-town').dialog({
        autoOpen: false,
        height: 300,
        width: 350,
        modal: true,
        buttons: {
            Cancel: function () {
                townDialog.dialog("close");
            }
        },
        Close: function () {
            townDialog.dialog("close");
        }
    });

    $('#changePassword').on('click', function () {
        passDialog.dialog('open');
    });

    $('#changeUserInformation').on('click', function () {
        var userFirstName = $('#user-firstname').text();
        var userLastName = $('#user-lastname').text();
        var userEmail = $('#user-email').text();

        $('#Firstname').val(userFirstName);
        $('#Lastname').val(userLastName);
        $('#Email').val(userEmail);

        userDialog.dialog('open');
    });

    $('#changeUserTown').on('click', function () {
        var townName = $('#user-hometown').text();
        var countryName = $('#user-country').text();

        $('#Town').val(townName);
        $('#Country').val(countryName);

        townDialog.dialog('open');
    });

    $('#password-form').submit(function () {
        var data = $(this).serialize();
        $('#task-progress').html('<progress max="5"></progress>');
        $.ajax({
            url: this.action,
            method: this.method,
            data: data,
            success: function () {
                $('#task-progress').html('Password updated.');
                setTimeout(clearTaskInformation, 5000);
                passDialog.dialog("close");
            },
            error: function () {
                $('#task-progress').html('Error password update.');
                setTimeout(clearTaskInformation, 5000);
                passDialog.dialog("close");
            }
        });

        $('#Password').val('');
        $('#NewPassword').val('');
        $('#ConfirmPassword').val('');

        return false;
    });

    $('#user-data').submit(function () {
        var data = $(this).serialize();
        var newFirstName = $('#Firstname').val();
        var newLastName = $('#Lastname').val();
        var newUserEmail = $('#Email').val();
        
        $('#task-progress').html('<progress max="5"></progress>');
        $.ajax({
            url: this.action,
            method: this.method,
            data: data,
            success: function () {
                $('#user-firstname').text(newFirstName);
                $('#user-lastname').text(newLastName);
                $('#user-email').text(newUserEmail);
                $('#task-progress').html('Password updated.');
                setTimeout(clearTaskInformation, 5000);
                userDialog.dialog("close");
            },
            error: function () {
                $('#task-progress').html('Password updated.');
                setTimeout(clearTaskInformation, 5000);
                userDialog.dialog("close");
            }
        });
        return false;
    });

    $('#user-town').submit(function () {
        var data = $(this).serialize();
        var newTownName = $('#Town').val(); 
        var newCountryName = $('#Country').val(); 

        $('#task-progress').html('<progress max="5"></progress>');
        $.ajax({
            url: this.action,
            method: this.method,
            data: data,
            success: function () {
                $('#user-hometown').text(newTownName);
                $('#user-country').text(newCountryName);

                $('#task-progress').html('Password updated.');
                setTimeout(clearTaskInformation, 5000);
                townDialog.dialog("close");
            },
            error: function () {
                $('#task-progress').html('Password updated.');
                setTimeout(clearTaskInformation, 5000);
                townDialog.dialog("close");
            }
        });
        return false;
    });

    function clearTaskInformation() {
        $('#task-progress').html('');
    }
</script>