@using TeamDataForum.Web.Models.ViewModels.Users
@model UserFullViewModel

@{ 
    var imagePath = string.IsNullOrWhiteSpace(Model.Image) ? "//ssl.gstatic.com/accounts/ui/avatar_2x.png" : Model.Image;
    var fullName = @Model.Firstname + " " + @Model.Lastname;
}

<img src="@imagePath" alt="@fullName" width="200" height="240" />
<div id="user-firstname">@Model.Firstname</div>
<div id="user-lastname">@Model.Lastname</div>
<div id="user-email">@Model.Email</div>
<div id="user-hometown">@Model.Town</div>
<div id="user-country">@Model.Country</div>
<div>Total posts: @Model.PostsCount</div>
<div>
    <div>Latest five posts</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Thread</th>
                <th>Post</th>
            </tr>
        </thead>
        @foreach (var post in Model.Posts)
        {
            @Html.DisplayFor(m => post, "Posts/UserPostViewModel")
        }
    </table>
</div>