@using TeamDataForum.Web.Models.ViewModels.Forums
@model ForumFullViewModel

<div>
    <div>@Model.Title</div>
    <div>@Model.Description</div>
    <div>@Model.Date</div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Thread</th>
                    <th>Last Post</th>
                    <th>Replies</th>
                    <th>Times seen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var thread in Model.Threads)
                {
                    @Html.DisplayFor(m => thread, "Threads/ThreadViewModel")
                }
            </tbody>
        </table>
    </div>
    <div>
        @foreach (var page in Model.Pages)
        {
            @Html.DisplayFor(m => page, "Paginators/Paginator");
        }
    </div>
</div>