<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadLayout")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-brand">@Html.ActionLink("TeamData", "Home", "Home")</div>
        <span>@Html.ActionLink("Login", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account")</span>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>