@using TeamDataForum.Web.Models.BindingModels.Threads
@model ThreadBindingModel

@using (Html.BeginForm("Create", "Thread", FormMethod.Post))
{
    <div class="form-group">
        @Html.EditorFor(m => m.Forum, "Forums/IdentifiableForumBindingModel")
        @Html.ValidationMessageFor(m => m.Forum)
    </div>
   <div class="form-group">
       @Html.LabelFor(m => m.Title)
       @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
       @Html.ValidationMessageFor(m => m.Title)
   </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Text)
        @Html.EditorFor(m => m.Text, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Text)
    </div>
    @Html.AntiForgeryToken()
    <input class="btn btn-success" type="submit" value="Create"/>
}