@using TeamDataForum.Web.Models.BindingModels.Posts
@model ThreadPostBindingModel

@using (Html.BeginForm("Create", "Post", FormMethod.Post))
{
    <div>
        @Html.EditorFor(m => m.Thread, "Threads/IdentifiableThreadBindingModel")
        @Html.LabelFor(m => m.Text)
        @Html.EditorFor(m => m.Text, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.ValidationMessageFor(m => m.Text)
    @Html.AntiForgeryToken()
    <input class="btn btn-success" type="submit" value="Create" />
}