@using TeamDataForum.Web.Models.ViewModels.Threads
@model ThreadFullViewModel

<div>
    <div>@Model.Title</div>
    <div>@Html.DisplayFor(m => m.Creator, "Users/UserViewModel")</div>
    <div>@Model.CreationDate</div>
    <div>
        @foreach (var post in Model.Posts)
        {
            @Html.DisplayFor(m => post, "Posts/PostFullViewModel")
        } 
    </div>
    <div>
        @foreach (var page in Model.Pages)
        {
            @Html.DisplayFor(m => page, "Paginators/Paginator")
        }
    </div>
</div>