@using TeamDataForum.Web.Models.ViewModels.Forums
@model ForumFullViewModel

<div>
    <div>@Model.Title</div>
    <div>@Model.Description</div>
    <div>@Model.Date</div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Thread</th>
                    <th>Last Post</th>
                    <th>Replies</th>
                    <th>Times seen</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayFor(m => m.Threads)
            </tbody>
        </table>
    </div>
    <nav>
        @{
            var i = 1;

            while (i <= Model.Pages)
            {
                @Html.ActionLink(i.ToString(), "View", "Home", new { Id = Model.Id, Page = i }, null);
                i++;
            }
        }
    </nav>
</div>