@using TeamDataForum.Web.Models.ViewModels.Subforums
@model SubforumViewModel

<tr>
    <td>
        <div>@Html.ActionLink(Model.Title, "", "Thread", new { Id = Model.Id }, null)</div>
        <div>@Model.Description</div>
        <div>@Model.Date.ToString("dd.MM.yyyy")</div>
        <div>@string.Join(", ", Model.Moderators)</div>
    </td>
    <td>@Html.DisplayFor(m => m.LatestPost)</td>
    <td>@Model.Threads</td>
    <td>@Model.Posts</td>
</tr>