@using TeamDataForum.Web.Models.ViewModels.Threads
@model ThreadFullViewModel

<div>
    <div>@Model.Title</div>
    <div>@Html.DisplayFor(m => m.Creator)</div>
    <div>@Model.CreationDate</div>
    <div>@Html.DisplayFor(m => m.Posts)</div>
    <div>
        @Html.DisplayFor(m => m.Pages)
    </div>
</div>