@using TeamDataForum.Web.Models.ViewModels.Threads
@model ThreadViewModel

<tr>
    <td>
        <div>@Html.ActionLink(@Model.Title, "Home", "Thread", new { id = Model.Id }, null)</div>
    </td>
    <td>@Html.DisplayFor(m => m.LastPost)</td>
    <td>@Model.Replies</td>
    <td>@Model.TimesSeen</td>
</tr>