@using TeamDataForum.Web.Models.ViewModels.Threads
@model ThreadFullViewModel

<div>
    <div>@Model.Title</div>
    <div>@Html.DisplayFor(m => m.Creator)</div>
    <div>@Model.CreationDate</div>
    <div>@Html.DisplayFor(m => m.Posts)</div>
    <div>
        @{
            var i = 1;

            while (i <= Model.Pages)
            {
                @Html.ActionLink(i.ToString(), "Home", "Thread", new { Id = Model.Id, Page = i }, null);
                i++;
            }
        }
    </div>
</div>